<article>
    <img 
    class="listening-photo"
    [src]="housinglocation?.photo"
    alt="Exterior photo of {{housinglocation?.name}}"
    crossorigin
    />
    <section class="listening-description">
        <h2 class="listening-heading">{{housinglocation?.name}}</h2>
        <p class="listening-location">{{housinglocation?.city}}</p>
    </section>
    <section class="listening-features">
        <h2 class="section-heading">About  this location</h2>
        <ul>
            <li>Units abailable: {{housinglocation?.availableUnits}} </li>
            <li>Does this location have wifi: {{housinglocation?.wifi}}</li>
            <li>Does this location have laundry: {{housinglocation?.laundry}}</li>
        </ul>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Apply now to live here</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
          <div class="mb-3">
            <label for="first-name" class="form-label">First Name</label>
            <input id="first-name" type="text" formControlName="firstName" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="last-name" class="form-label">Last Name</label>
            <input id="last-name" type="text" formControlName="lastName" class="form-control"/>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" formControlName="email" class="form-control"/>
          </div>
          <button type="submit" class="btn btn-primary">Apply now</button>
        </form>
      </section>
</article>